.main{
  background-color: grey;
  width:100%;
}
h1{
  font-size: 50px;
}
.container1{
  background-color: white;
  margin: 40px 40px;
  width:50%;
  float:left;
}
.container2{
  background-color:#D3D3D3;
  margin: 40px 40px;
  width:50%;
  float:right;
}
